@font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    src: local('Avenir Next'),
    local('AvenirNext'),
    url('./fonts/AvenirNext-Regular.woff2') format('woff2'),
    url('./fonts/AvenirNext-Regular.woff') format('woff');
}

body {
    font-family: 'Avenir Next';
    background: rgb(103, 69, 225);
    background: -moz-linear-gradient(7deg, rgba(103, 69, 225, 1) 37%, rgba(121, 61, 219, 1) 81%);
    background: -webkit-linear-gradient(7deg, rgba(103, 69, 225, 1) 37%, rgba(121, 61, 219, 1) 81%);
    background: linear-gradient(7deg, rgba(103, 69, 225, 1) 37%, rgba(121, 61, 219, 1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6745e1", endColorstr="#793ddb", GradientType=1);
}